In [25]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [67]:



data = pd.read_csv('movie_bd_v5.csv')
data.sample(15)

data['profit'] = data['revenue'] - data['budget']
data['month'] = data['release_date'].str[0:2]
data['title_len'] = data['original_title'].str.len()
#df['district_name'] = df['name'].map(data.get)['district_name']

display(data)
data.describe()
#df.columns = ['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
#       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
#       'release_date', 'vote_average', 'release_year']
#df.assign['profit == revenue - budget']
#profit = revenue - budget



#fnl = fnl.assign(N=15)
#Это возвращает копию dataframe с добавлением нового столбца N со значениями, равными 15.
#Поскольку индекс в этом случае не имеет значения, было бы более эффективно добавлять его через:

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,title_len
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,6/,14
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,5/,18
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3/,9
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,12,28
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,4/,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717,7/,5
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012,10,18
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180,6/,36
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091,2/,10
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502,7/,12

,budget,revenue,runtime,vote_average,release_year,profit,title_len
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000

In [3]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [8]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data[data.runtime == data.runtime.min()]
answers['3'] = '768. Winnie the Pooh (tt1449283)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = 109.658549

109.658549

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = 107.000000

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]
answers['6'] = 'Avatar (tt0499549)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [13]:
data[data.profit == data.profit.min()]
#s = data[data.revenue == data.revenue.min()]#tt0490181	8000000	2033165	Mutant Chronicles
#display(s)
#s = data[data.budget == data.budget.max()]
#display(s)
answers['7'] = 'The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
data[data.revenue>data.budget]
answers['8'] = 1478

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
data[data.release_year == 2008]
x = data[data.release_year == 2008]
x[x.revenue == x.revenue.max()]
answers['9'] = 'The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
x = data[(data.release_year>=2012)&(data.release_year<=2014)]
x[x.profit == x.profit.min()]
answers['10'] = 'The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [17]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [18]:
data['genres'].value_counts(normalize=True)
genre = {}
for mov in data['genres']:
    if mov.find('|'):
        ls = mov.split('|')
    else:
        ls = mov
    for l in ls:
        if l in genre:
            genre[l] += 1
        else:
            genre[l] = 1

print(genre)
dict(sorted(genre.items(), key=lambda item: item[1]))
answers['11'] = 'Drama'

{'Action': 582, 'Adventure': 415, 'Science Fiction': 248, 'Thriller': 596, 'Fantasy': 222, 'Crime': 315, 'Western': 19, 'Drama': 782, 'Family': 260, 'Animation': 139, 'Comedy': 683, 'Mystery': 168, 'Romance': 308, 'War': 58, 'History': 62, 'Music': 64, 'Horror': 176, 'Documentary': 8, 'Foreign': 2}

{'Foreign': 2,
 'Documentary': 8,
 'Western': 19,
 'War': 58,
 'History': 62,
 'Music': 64,
 'Animation': 139,
 'Mystery': 168,
 'Horror': 176,
 'Fantasy': 222,
 'Science Fiction': 248,
 'Family': 260,
 'Romance': 308,
 'Crime': 315,
 'Adventure': 415,
 'Action': 582,
 'Thriller': 596,
 'Comedy': 683,
 'Drama': 782}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
data.groupby(['genres'])['profit'].sum().sort_values(ascending=False)


answers['12'] = 'Comedy'

genres
Comedy                                       9017827476
Adventure|Fantasy|Action                     5867942514
Comedy|Romance                               5522358585
Drama                                        5178675274
Adventure|Fantasy|Family                     4575626907
                                                ...
Thriller|Science Fiction|Adventure|Action     -74010360
Thriller|Crime|Mystery                        -77087409
Adventure|Animation|Action|Comedy|Family     -102268269
Western|History|War                          -119180039
Action|Adventure|Western                     -165710090
Name: profit, Length: 652, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
dfa = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(dfa)
#grouped_df = df.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
#print(grouped_df.head(5))
answers['13'] = 'Peter Jackson'

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
#data = pd.read_csv('movie_bd_v5.csv')

dt = data[data.genres.str.contains('Action')]
display(dt)

s = dt['director'].value_counts()
display(s)


#data['genres'].loc['genres' == 'Action']

'''dt.groupby('director').agg(lambda x:list(x).count('original_title'))

pivot = df.loc[df['director'].isin(['Ridley Scott','Guy Ritchie','Robert Rodriguez',
'Quentin Tarantino','Tony Scott'])].pivot_table(values=['genres'],
index=['imdb_id'],
columns=['director'],
aggfunc='count')
display(pivot)'''
#display(dfs['director'].count()
#grouped_df = dfs.groupby(['director'])['genres'].count()
#print(grouped_df.head(5))

#dt.describe
#data.loc[data['genres'] == 'Action'][['director']]
#data('director')[data.genres == 'Action' ].max()   
#grouped_df = data.groupby(['genres','director'])
#display(grouped_df)
#grouped_df.loc[grouped_df['genres'] == 'Action'][['director','original_title']]#.size().sort_values(ascending = False)
#df.loc[df['Nationality'] == 'Dominican Republic'][['Name','Club','Wage','Age','ShotPower']]

#grouped_df.loc['Action']['director'].sum()
#grouped_df.loc['Action']['original_title'].sum()
'''pivot = df.loc[df['director'].isin(['Ridley Scott','Guy Ritchie','Robert Rodriguez','Quentin Tarantino','Tony Scott'])].pivot_table(values=['Action'],
index=['imdb_id'],
columns=['director'],
aggfunc='count')
display(pivot)'''
answers['14'] = 'Robert Rodriguez'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015,285603537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000,-19814759
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000,-11627590
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180

Michael Bay                                  7
Paul W.S. Anderson                           7
Ridley Scott                                 6
Antoine Fuqua                                6
Robert Rodriguez                             6
                                            ..
Kerry Conran                                 1
Ron Underwood                                1
Gina Prince-Bythewood                        1
Mark Andrews|Steve Purcell|Brenda Chapman    1
Seth Rogen|Evan Goldberg                     1
Name: director, Length: 345, dtype: int64

"pivot = df.loc[df['director'].isin(['Ridley Scott','Guy Ritchie','Robert Rodriguez','Quentin Tarantino','Tony Scott'])].pivot_table(values=['Action'],\nindex=['imdb_id'],\ncolumns=['director'],\naggfunc='count')\ndisplay(pivot)"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
dy = data[data.release_year==2012]
dfa = dy.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
print(dfa)

answers['15'] = 'Chris Hemsworth'

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy                 1081041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett          1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott             877244782
                                                                                    ...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins                 8106475
Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton         6063556
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent                  4636169
Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist                  3428048
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston                      2106557
Name: revenue, Length: 111, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
#t = data[(data.cast.str.contains('Tom Cruise'))|(data.cast.str.contains('Mark Wahlberg'))
#         |(data.cast.str.contains('Matt Damon'))|(data.cast.str.contains('Angelina Jolie'))
#        |(data.cast.str.contains('Adam Sandler'))]
s = data[data.budget>data.budget.mean()]

s[s.map(lambda x: True if "Tom Cruise" in x else False)]

#dfg = s.groupby(['cast'])['budget'].value_counts()
display(s['cast'].value_counts())
#data[data.budget == data.budget.max()]
#data.describe
s['cast'].unique()
answers['16'] = 'Matt Damon'

AttributeError: 'DataFrame' object has no attribute 'map'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
dt = data[data.cast.str.contains('Nicolas Cage')]
#display(dt)
genre = {}
for mov in dt['genres']:
    if mov.find('|'):
        ls = mov.split('|')
    else:
        ls = mov
    for l in ls:
        if l in genre:
            genre[l] += 1
        else:
            genre[l] = 1

print(genre)
dict(sorted(genre.items(), key=lambda item: item[1]))
#data.groupby[data.cast == 'Nicolas Cage']('imdb_id','genres').max()
                                                    
#data.loc[data['cast'] == 'Nicolas Cage']#[['imdb_id','genres']]
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [65]:
x = data[data.production_companies.str.contains('Paramount Pictures')]
x[x.profit == x.profit.min()]
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
587,tt0249478,75000000,54249294,Domestic Disturbance,John Travolta|Vince Vaughn|Teri Polo|Matt O'Le...,Harold Becker,He will do anything to protect his family.,A divorced father discovers that his 12-year-o...,89,Mystery|Thriller|Crime,Paramount Pictures,10/30/2001,5.4,2001,-20750706,10

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [60]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending = False)
answers['19'] = 2015

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [61]:
t= data[data.production_companies.str.contains('Warner Bros')]
#t[t.revenue == t.revenue.max()]
t.groupby('release_year')['profit'].sum().sort_values(ascending = False)
#x = data[data.production_companies]
answers['20'] = 2014

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [62]:
#data[data.original_titles == data.original_titles.max()].release_date
#data.groupby(['original_title'])[['release_date']]
#x = data.groupby(['release_date']).agg(['count'])
display(data['month'].value_counts())
answers['21'] = 'Сентябрь'

9/    227
12    190
10    186
8/    161
3/    156
4/    149
6/    147
11    146
7/    142
5/    140
2/    135
1/    110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [44]:
#x = data[(data.release_year>=2012)&(data.release_year<=2014)&(data.release_date<=]
#x[x.original_title == x.original_title.max()].count
x = data.groupby(['release_date']).agg(['count'])

release_data = {}
cnt = 0
for mov in data['release_date']:
    if mov[0:2] in ('6/','7/','8/'):
        l = mov[0:2]
        cnt += 1
        if l in release_data:
            release_data[l] += 1
        else:
            release_data[l] = 1

print(release_data)
print(cnt)

answers['22'] = 450

{'6/': 147, '7/': 142, '8/': 161}
450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [58]:

x = data[(data.month == '12')|(data.month == '1/')|(data.month == '2/')]
#x[x.director == x.director.max()]
display(x['director'].value_counts())
answers['23'] = 'Peter Jackson'

Peter Jackson                  7
Steven Soderbergh              6
Clint Eastwood                 6
Nancy Meyers                   4
Shawn Levy                     4
                              ..
MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein    1
Stuart Beattie                 1
Richard Eyre                   1
James Watkins                  1
Darren Aronofsky               1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [115]:
data.groupby('original_title')['production_companies'].max().head(40)

display(data.groupby('production_companies')['title_len'].mean().sort_values(ascending=False))
answers['24'] = 'Four By Two Productions'

production_companies
Twentieth Century Fox Film Corporation|Four By Two Productions                                                          83.0
Walt Disney|Walden Media                                                                                                62.0
Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The                                                      59.0
Plan B Entertainment|Virtual Studios|Scott Free Productions|Alberta Film Entertainment|Warner Bros.                     58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media                                                                       56.0
                                                                                                                        ...
Sunswept Entertainment|Warner Bros.|Metro-Goldwyn-Mayer (MGM)                                                            3.0
Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions     2.0
Columbia Pictures|Relativity Media                                                                                       2.0
Ixtlan Productions|Emperor Motion Pictures|Global Entertainment Group                                                    2.0
Focus Films|Starz Animation|Relativity Media|Tim Burton Productions|Arc Productions                                      1.0
Name: title_len, Length: 1624, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [118]:
#c = data['overview']
for c in data: 
    if data[c].dtype == 'object': 
        print('Max length of column %s: %s\n' % (c, data[c].map(len).max()))

print(data['overview'].str.len().max())
print(data[data.overview.str.len() == data['overview'].str.len().max()].production_companies)

data['overview_len'] = data['overview'].str.len()
display(data.groupby('production_companies')['overview_len'].mean().sort_values(ascending=False))
answers['25'] = 'Midnight Picture Show'

Max length of column imdb_id: 9

Max length of column original_title: 83

Max length of column cast: 98

Max length of column director: 169

Max length of column tagline: 286

Max length of column overview: 1000

Max length of column genres: 51

Max length of column production_companies: 172

Max length of column release_date: 10

Max length of column month: 2

1000
711    Lions Gate Films|Lakeshore Entertainment|Green...
Name: production_companies, dtype: object

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show                                 1000.0
Fox Searchlight Pictures|Room 9 Entertainment                                                                      964.0
Columbia Pictures|Revolution Studios|Happy Madison Productions                                                     959.0
Mandalay Pictures|TriStar Pictures|Brookwell-McNamara Entertainment|FilmDistrict|Affirm Films                      936.0
Lions Gate Family Entertainment|Relativity Media|Crest Animation Productions                                       909.0
                                                                                                                   ...
Focus Films                                                                                                         72.0
Columbia Pictures Corporation|Apatow Productions                                                                    64.0
Cheyenne Enterprises|Epsilon Motion Pictures|Empire Pictures|Metro-Goldwyn-Mayer (MGM)|Hyde Park Entertainment      62.0
Motion Picture Corporation of America|Artisan Entertainment                                                         59.0
Paramount Pictures|Plan B Entertainment|Regency Enterprises                                                         58.0
Name: overview_len, Length: 1624, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [97]:
#display(data['vote_average'].value_counts(normalize=True))
#display(data['vote_average'].value_counts(normalize=True))

#d = data[data.vote_average == data.vote_average.max()]
#s = d['original_title'].value_counts(normalize=True)
#display(s)
data.groupby('original_title')['vote_average'].agg(['max']).head(40)
#display(data['vote_average'].value_counts(bins=4))
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

                              max
original_title
(500) Days of Summer          7.3
10,000 BC                     5.2
102 Dalmatians                5.0
12 Rounds                     5.9
12 Years a Slave              7.9
127 Hours                     6.9
13 Going On 30                6.1
1408                          6.4
15 Minutes                    5.7
16 Blocks                     6.1
17 Again                      6.0
2 Fast 2 Furious              6.1
2 Guns                        6.6
2012                          5.6
21                            6.5
21 & Over                     5.7
21 Grams                      7.0
21 Jump Street                6.7
22 Jump Street                7.0
27 Dresses                    6.1
28 Days Later...              6.9
28 Weeks Later                6.3
3 Idiots                      7.8
30 Days of Night              6.1
30 Minutes or Less            5.5
300                           7.0
3000 Miles to Graceland       5.4
300: Rise of an Empire        6.1
3:10 to Yuma                  6.8
42                            6.8
47 Ronin                      5.8
4: Rise of the Silver Surfer  5.4
50 First Dates                6.5
50/50                         6.8
8 Mile                        6.7
88 Minutes                    5.6
9                             6.5
A Beautiful Mind              7.5
A Christmas Carol             6.6
A Cinderella Story            5.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [134]:
#ВАРИАНТ 2
'''couples = {}
for actors in data['cast']:
    if actors.find('|'):
        ls = actors.split('|')
    else:
        ls = actors
        
    for l in ls:
        if l in couples:
            couples[l] +=  
        else:
            couples[l] = 

print(genre)


dt.groupby('director').agg(lambda x:list(x).count('original_title'))

pivot = df.loc[df['director'].isin(['Ridley Scott','Guy Ritchie','Robert Rodriguez',
'Quentin Tarantino','Tony Scott'])].pivot_table(values=['genres'],
index=['imdb_id'],
columns=['director'],
aggfunc='count')
display(pivot)'''

data[(data.cast.str.contains('Johnny Depp'))&(data.cast.str.contains('Helena Bonham Carter'))].max()

pivot = data.loc[data['cast'].isin(['Johnny Depp','Helena Bonham Carter','Ben Stiller',
'Owen Wilson','Paul Walker','Vin Diesel','Adam Sandler','Kevin James',
'Daniel Radcliffe', 'Rupert Grint'])].pivot_table(values=['imdb_id'],
index=['cast'],
columns=['original_title'],
aggfunc='count')
display(pivot)

dt.groupby('cast').agg(lambda x:list(x).count('original_title'))

answers['27'] = 'Daniel Radcliffe & Rupert Grint'

Empty DataFrame
Columns: []
Index: []

### Submission

In [137]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [136]:
# и убедиться что ни чего не пропустил)
len(answers)

2